KEYSTATIC_STORAGE_KIND=local
ASTRO_USE_NETLIFY_ADAPTER=false
# These are populated after GitHub App setup:
KEYSTATIC_GITHUB_CLIENT_ID=
KEYSTATIC_GITHUB_CLIENT_SECRET=
KEYSTATIC_SECRET=
PUBLIC_KEYSTATIC_GITHUB_APP_SLUG=
